.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 60px;
  width: 1130px;
}

.category {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 12px;
  align-items: start;
  min-height: 200px;
}

.categoryLink {
  display: block;
  text-decoration: none;
  color: var(--text-dominant);
  width: 100%;
  margin-bottom: 12px;
}

.icon {
  width: 40px;
  height: 40px;
}

.categoryContent {
  display: flex;
  flex-direction: column;
}

.categoryTitle {
  font-family: var(--typeface-headings);
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: var(--text-dominant);
  margin-bottom: 8px;
}

.subcategories {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subcategoryLink {
  text-decoration: none;
  color: var(--text-secondary);
  font-family: var(--typeface-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: color 0.2s ease;
  flex-grow: 1;
}

.subcategoryLink:hover {
  color: var(--text-dominant);
}
