.label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.title {
    color: var(--text-dominant);
    font-family: var(--typeface-body);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.input {
    width: 100%;
    border: 1px solid var(--text-secondary);
    border-radius: 12px;
    padding: 12px 48px 12px 20px;
    outline: none;
    font-family: var(--typeface-body);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.input.error {
    border-color: var(--status-error);
}

.svg-wrapper {
    position: relative;
    width: 100%;
}

.icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.svg-wrapper>svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}