.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  color: var(--text-dominant);
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  transition: 0.2s;
  cursor: pointer;
}

.button-primary {
  background-color: var(--accent-primary);
}

.button-primary:hover {
  background-color: var(--action-hover);
}

.button-primary:active {
  color: var(--surface-main);
  background-color: var(--action-pressed);
}

.button-primary:disabled {
  color: var(--text-secondary);
  background-color: var(--state-disabled);
  cursor: initial;
}

.button-secondary {
  border: 1px solid var(--accent-primary);
  background-color: var(--surface-main);
}

.button-secondary:hover {
  border-color: var(--action-hover);
  color: var(--text-secondary);
}

.button-secondary:active {
  border-color: 1px solid var(--action-pressed);
  color: var(--text-dominant);
}

.button-secondary:disabled {
  border-color: var(--state-disabled);
  color: var(--text-inactive);
  cursor: initial;
}

.button-tertiary {
  background-color: var(--surface-main);
}

.button-tertiary:disabled {
  color: var(--text-inactive);
}

.button-transparent {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  background-color: transparent;
}
