.content {
    width: 399px;
    height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textBlock {
    width: 399px;
    height: 248px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    font-family: var(--typeface-headings);
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: var(--text-dominant);
}

.category {
    font-family: var(--typeface-body);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: var(--text-secondary);
}

.description {
    font-family: var(--typeface-body);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--text-dominant);
}
