.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.dropzone {
  width: 436px;
  height: 96px;
  border: 1px dashed var(--text-secondary);
  border-radius: 12px;
  padding: 20px;
  opacity: 0.8;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.errorMessage {
    margin-top: 4px;
    color: var(--status-error);
    font-family: var(--typeface-body);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.dragOver {
  border-width: 2px;
  border-color: var(--action-hover);
  box-shadow: 0 0 10px var(--action-pressed); 
  opacity: 1; 
  background-color: var(--action-hover); 
}

.description{
  color: var(--action-pressed);
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.label {
  color: var(--text-secondary);
  text-align: center;
}

.uploadButton {
  display: flex;
  place-items: center;
  gap: 4px;
   border: none;
  background-color: transparent;
  cursor: pointer;
}

.uploadButton:hover {
  opacity: 0.7;
}

.success {
 display: flex;
  gap: 12px;
  margin-block-start: 16px;
  color: var(--action-pressed);
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}