.group {
  border-bottom: 1px solid var(--border);
}

.header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxArea {
  margin-right: 7px;
  width: 24px;
  height: 24px;
}

.checkboxIcon {
  width: 24px;
  height: 24px;
  fill: var(--accent-primary);
}

.subtractIcon {
  width: 20px;
  height: 20px;
  margin: 2px;
}

.titleArea {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; /* 24px при font-size: 16px */
  letter-spacing: 0.02em;
  color: var(--text-dominant);
}

.arrowWrapper {
  display: flex;
  align-items: center;
}

.chevronIcon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

.rotated {
  transform: rotate(180deg);
}

.children {
  padding-left: 32px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
