.form {
    margin-top: 121.5px;
}

.providers {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 24px 0;
}

.wrapper::before,
.wrapper::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--border-default, #e0e3dc);
}

.text {
    margin: 0 4px;
    color: var(--text-dominant);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--typeface-body);
}

.hint {
    color: var(--text-dominant);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    font-family: var(--typeface-body);
    margin: 4px 0 32px;
}