.validationMessage {
    position: absolute;
    left: 0;
    top: 100%;
    color: var(--status-error);
    font-family: var(--typeface-body);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}