.section-wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.title-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.section-title {
  font-size: 32px;
}

.card-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 24px;
}
