.card {
  display: flex;
  flex-direction: column;
  width: 324px;
  border-radius: 12px;
  padding: 20px;
  color: var(--text-dominant);
  background-color: var(--surface-main);
  overflow: hidden;
}

.card.skillPage {
  width: 324px;
  height: 444px;
  padding: 32px;
  color: var(--text-dominant);
  background-color: var(--surface-main);
}

.info {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.card.skillPage .info {
  width: 260px;
  height: 100px;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
}

.card.skillPage .avatar {
  border-radius: 50%;
}

.infoText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card.skillPage .infoText {
  padding: 26px 0;
}

.aboutMe {
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--text-dominant);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.likeIcon {
  align-self: flex-end;
  width: 24px;
  height: 24px;
  stroke: var(--text-dominant);
  cursor: pointer;
}

.card.skillPage .likeIcon {
  display: none;
}

.likeActive {
  width: 24px;
  height: 24px;
  fill:var(--accent-primary);
  stroke: var(--accent-primary);
}

.clockIcon {
  width: 24px;
  height: 24px;
}

.name {
  margin-top: 5px;
  font-family: var(--typeface-cards);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--text-dominant);
}

.card.skillPage .name {
  font-family: var(--typeface-headings);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.01em;
  color: var(--text-dominant);
  margin-top: 0;
}

.cityAge {
  margin: 0;
  padding-top: 4px;
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
}

.card.skillPage .cityAge {
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  color: var(--text-dominant);
}

.skillsSection {
  margin-top: 12px;
  width: 100%;
}

.card.skillPage .skillsSection {
  margin-top: 24px;
}

.card:not(.skillPage) .skillsSection:nth-last-of-type(1) {
  margin-bottom: 20px;
}

.sectionTitle {
  font-family: var(--typeface-body);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.skillsRow {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}

.card.skillPage .skillsRow {
  gap: 8px;
  margin-top: 14px;
}

.skillPill {
  display: inline-block;
  width: 100%; 
  border-radius: 20px;
  padding: 8px 12px; 
  color: var(--text-dominant);
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.02em;
  background-color: var(--category-additional);
  white-space: nowrap; 
}

.skillPill:nth-child(2) {
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.morePill {
  display: inline-block;
  border-radius: 20px;
  padding: 8px 12px;
  color: var(--text-dominant);
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.02em;
  background-color: var(--category-additional);
}

.business {
  background-color:  var(--category-business);
}

.art {
  background-color: var(--category-arts);
}

.languages {
  background-color:  var(--category-languages);
}

.education {
  background-color: var(--category-education);
}

.home {
  background-color: var(--category-household);
}

.health {
  background-color: var(--category-wellness);
}

.card.skillPage .button {
  display: none;
}