.card {
  display: flex;
  flex-direction: column;
  width: 324px;
  border-radius: 12px;
  padding: 20px;
  color: var(--text-dominant);
  background-color: var(--surface-main);
  
}

.info {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.infoText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.likeIcon {
  align-self: flex-end;
  width: 24px;
  height: 24px;
  stroke: var(--text-dominant);
  cursor: pointer;
}

.likeActive {
  width: 24px;
  height: 24px;
  fill:var(--accent-primary);
  stroke: var(--accent-primary);
}

.clockIcon {
  width: 24px;
  height: 24px;
}

.name {
  margin-top: 5px;
  font-family: var(--typeface-cards);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  
}

.cityAge {
  margin: 0;
  padding-top: 4px;
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
}

.skillsSection {
  margin-top: 12px;
  
}

.skillsSection:nth-last-of-type(1) {
  margin-bottom: 20px;
}


.sectionTitle {
  font-family: var(--typeface-body);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.detailsButton {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding-block: 12px;
  color: inherit;
  font-size: 1rem;
  background: var(--accent-primary);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.proposeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--accent-primary);
  background-color: var(--surface-main);
}

.proposeButton:hover {
  border-color: var(--accent-primary);
  background-color: inherit;
  cursor: auto;
}

.skillsRow {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}


.skillPill {
 display: inline-block;
  width: 100%; 
  border-radius: 20px;
  padding: 8px 12px; 
  color: var(--text-dominant);
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.02em;
  background-color: var(--category-additional);
  white-space: nowrap; 
}

.skillPill:nth-child(2) {
  overflow: hidden; 
  text-overflow: ellipsis; 
 
}

.morePill {
  display: inline-block;
  border-radius: 20px;
  padding: 8px 12px;
  color: var(--text-dominant);
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.02em;
  background-color: var(--category-additional);
  
}

.business {
  background-color:  var(--category-business);
}

.art {
  background-color: var(--category-arts);
}

.languages {
  background-color:  var(--category-languages);
}

.education {
  background-color: var(--category-education);
}

.home {
  background-color: var(--category-household);
}

.health {
  background-color: var(--category-wellness);
}
 