.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.label {
    color: var(--text-dominant);
    font-family: var(--typeface-body);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.textarea {
    position: relative;
    box-sizing: border-box;
    width: 436px;
    height: 96px;
    min-height: 96px;
    border: 1px solid var(--text-secondary);
    border-radius: 12px;
    padding: 12px 20px;
    overflow: hidden auto;
    color: var(--text-secondary, #69735d);
    font-family: var(--typeface-body);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    white-space: pre-wrap;
    resize: none;
}

.textarea:focus {
    border-color: var(--text-secondary);
    outline: none;
}

.textarea:disabled {
    opacity: 0.7;
    background-color: #f5f5f5;
    cursor: not-allowed;
}

.svg-wrapper {
    position: relative;
}

.svg-wrapper > svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}