.wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  height: 32px;
  letter-spacing: 0.3px;
  flex-wrap: nowrap;
  position: relative;
  padding-left: 34px;
}

.checkboxInput {
  width: 24px;
  height: 24px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.checkboxIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  flex-shrink: 0;
}

.checkboxIcon:focus-visible {
  outline: 1px solid var(--accent-primary);
  border-radius: 30%;
}

.label {
  display: flex;
  align-items: center;
  gap: 90px;
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 12px);
}