.wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 30%;
  outline: none;
  background-color: var(--surface-main);
  transition: background-color 0.2s ease, border-color 0.2s ease;
  cursor: pointer;
  appearance: none;
}

.checkbox:focus-visible {
  outline: 1px solid #000;
}

.checkbox:checked {
  border-color: var(--accent-primary); 
  background-color: var(--accent-primary);
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 3px;
  height: 8px;
  border: solid var(--surface-main);
  border-width: 0 2px 2px 0;
  border-radius: 1px;
  transform: rotate(45deg);
}

.label {
  font-family: var(--typeface-body);
  font-weight: 400;
  font-size: 16px;
}
